.btn {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: 5px 0px 9px 0px #000000ad;
    
}

.heading {
    width: 40vw;
    margin: auto;
    align-content: center;
    text-align: center;
    background-color: red;
    border-radius: 10px;
    color: white;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    margin: 25px auto auto auto;
    width: fit-content;
    background-color: pink;
    padding: 30px;
    border: 2px solid black;
    border-radius: 12%;
    box-shadow: inset 2px 0px 15px 3px #000000c2;
}

.red {
    background-color: red;
}

.darkcyan {
    background-color: darkcyan;
}

.darkorange {
    background-color: darkorange;
}

.blue {
    background-color: blue;
}

.flash {
    background-color: white;
}

.user {
    background-color: rgb(53, 247, 205);
}

.green {
    background-color: green;
}


